@use "../../app/variables.scss" as *;

.button {
  text-decoration: none;
  font-family: var(--font);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-width: 0.2rem;
  border-style: solid;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.small {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.medium {
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
}

.large {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
}

.primary {
  background-color: map-get($primary, "300");
  color: map-get($primary, "900");
  border-color: map-get($primary, "900");
}

.secondary {
  background-color: map-get($secondary, "200");
  color: map-get($secondary, "800");
  border-color: map-get($secondary, "800");
}

.warning {
  background-color: map-get($warning, "300");
  color: map-get($warning, "900");
  border-color: map-get($warning, "900");
}

.danger {
  background-color: map-get($danger, "300");
  color: map-get($danger, "900");
  border-color: map-get($danger, "900");
}

.success {
  background-color: map-get($success, "300");
  color: map-get($success, "900");
  border-color: map-get($success, "900");
}
