@use "../../app/variables.scss" as *;

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-right: 20px;
}

.item {
  width: 100%;
  background-color: map-get($background, 400);
  border-radius: 20px;
  overflow: hidden;
  list-style: none;

  a {
    width: 100%;
    height: auto;
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
  }

  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    p {
      color: map-get($primary, "500");
      text-decoration: none;
      font-family: var(--font);

      &:nth-child(2) {
        color: map-get($primary, "700");
        font-size: 0.8rem;
      }
    }
  }
}

.tabulation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 20px;
  margin-top: 20px;

  .tabulationElement {
    button {
      padding: 5px 10px;
      font-family: var(--font);
      background-color: transparent;
      border: map-get($primary, "500") 2px solid;
      color: map-get($primary, "500");
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .tabulationElementActive {
    button {
      background-color: map-get($primary, "500");
      color: map-get($background, 400);
    }
  }
}
