@use "../../app/variables.scss" as *;

.container {
  position: absolute;
  bottom: 40px;
  left: 0;
  // transform: translate(-50%, -50%);
  width: 100%;
  height: 80px;
  pointer-events: none;
  display: flex;
  overflow: hidden;

  @media screen and (max-width: 950px) {
    bottom: 5px;
  }
}

.containerFull {
  .body {
    width: 95% !important;
  }
}

.body {
  width: 85%;
  height: 80px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px;
    transform: translate(0, -50%);
    border-radius: 3px;

    background-color: map-get($primary, "highlight");
  }

  @media screen and (max-width: 950px) {
    display: none;
  }
}

.head {
  width: 5%;
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 2%;

  .part {
    width: 60px;
    height: 20px;
    background-color: map-get($primary, "highlight");
    clip-path: polygon(0 0, 42% 100%, 100% 100%);

    &:nth-child(2) {
      transform: scale(1, -1);
    }
  }

  @media screen and (max-width: 950px) {
    display: none;
  }
}

.children {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 20px;
}
