* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
}

:root {
  // --font is the variable for the main font family
  // --title is the variable for the title font family
  // --mono is the variable for the monospace font family
}

main {
  height: calc(100vh - 80px - 300px);
}
