@use "./colors.scss" as *;

$accent: (
  "highlight": #ae9f86,
  "default": #ffffff,
  "faded": #766953,
);

$dark: (
  "lighter": #a0b3c0,
  "light": #3e4c59,
  "default": #343b45,
  "dark": #1f252d,
  "darker": #1f252d,
);

$light: (
  "lighter": #f5f5f5,
  "light": #ebebeb,
  "default": #e0e0e0,
  "dark": #c6c6c6,
  "darker": #acacac,
);

$background: $dark;
$background-light: $light;
$primary: $accent;
$secondary: $amber;
$warning: $orange;
$danger: $red;
$success: $emerald;
