@use "../../app/variables.scss" as *;

$fontsize: 1.5;
$gap: (80 - $fontsize * 16) / 2 + px;

.header {
  background: rgba(map-get($background, "default"), 1);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  overflow: hidden;
  width: 100vw;

  @media screen and (max-width: 1200px) {
    overflow-x: hidden;
    overflow-y: visible;
  }
}

.title {
  color: map-get($primary, "default");
  font-family: var(--font);
  font-weight: 700;
  font-size: $fontsize + rem;
  display: flex;
  align-items: center;
  gap: $fontsize + rem;
  text-transform: uppercase;

  @media screen and (max-width: 450px) {
    font-size: 1.2 * 0.9 + rem;
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;

  padding-right: $gap;
  padding-left: $gap;

  > form {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;

  @media screen and (max-width: 1350px) {
    display: none;
  }

  span {
    color: map-get($primary, "faded");
    font-family: var(--font);
    font-weight: 400;
    font-size: 1rem;
  }

  a {
    font-family: var(--font);
    font-weight: 400;
    font-size: 1rem;
    color: map-get($primary, "faded");
  }
}
