@use "../../app/variables.scss" as *;

.footer {
  // background-color: map-get($background, "default");
  background-color: transparent;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1050px) {
    height: fit-content;
  }
}

.container {
  height: 50%;
  width: 100vw;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 1rem;
}

.line {
  background-color: map-get($primary, "faded");
  width: 90%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 5%;
}

.socialMedia {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: 1050px) {
    padding-top: 1rem;
  }
}

.item {
  width: 45px;
  border-radius: 50%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid map-get($primary, "faded");
    color: map-get($primary, "highlight");
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out;

    &:hover {
      color: map-get($primary, "default");
      border: 2px solid map-get($primary, "highlight");
    }
  }

  span {
    font-size: 0.8rem;
    color: map-get($primary, "highlight");
    text-align: center;
    font-family: var(--font);
    margin-top: 0.2rem;
  }
}

.credits {
  font-size: 0.8rem;
  color: map-get($primary, "highlight");
  font-family: var(--font);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;

  @media screen and (max-width: 1050px) {
    padding-bottom: 1rem;
  }

  svg {
    color: map-get($danger, "800");
    height: 1.2rem;
    width: 1.2rem;
  }
}

.containerRow {
  height: 50%;
  width: 100vw;
  max-width: 1400px * 0.9;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;

  @media screen and (max-width: 1050px) {
    flex-wrap: wrap;
    padding: 1rem;
  }
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: map-get($primary, "highlight");
}

.title {
  font-size: 1.4rem;
  color: map-get($primary, "default");
  font-family: var(--font);
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.1rem;
  color: map-get($primary, "highlight");
  font-family: var(--display);
  font-weight: 400;
  font-style: italic;
  text-transform: lowercase;

  .link {
    font-family: var(--display);
    text-transform: lowercase;
    font-size: 1.1rem;
  }
}

.subcontainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  &:nth-child(3) {
    @media screen and (max-width: 1300px) {
      display: none;
    }
  }

  &.variant {
    flex-direction: column;
  }
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  column-gap: 2rem;
  row-gap: 1rem;
  justify-items: center;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &.variant {
    grid-template-columns: repeat(1, 1fr);
  }
}

.link {
  color: map-get($primary, "highlight");
  font-family: var(--font);
  transition: color 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;

  > :global(.carbonbadge) {
    text-transform: none;
    // span {
    //   display: none;
    // }
  }

  &:hover {
    color: map-get($primary, "default");
  }
}

.separator {
  height: 70%;
  width: 2px;
  background-color: map-get($primary, "faded");

  @media screen and (max-width: 1050px) {
    display: none;
  }

  &:nth-child(2) {
    @media screen and (max-width: 1300px) {
      display: none;
    }
  }
}
