@use "../../app/variables.scss" as *;

.search {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 35px;

  svg {
    color: map-get($primary, "highlight");
    margin: 5px 10px 5px 5px;
    height: 1.4rem;
    width: 1.4rem;
  }
}

.input {
  background-color: transparent;
  border: none;
  color: map-get($primary, "default");
  font-family: var(--display);
  font-style: italic;
  font-size: 1.2rem;
  outline: none;
  width: fit-content;
}
